<template>
	<div>
		<Modal v-model="showNewGroupModal">
			<form @submit.prevent="addGroup">
				<form-field
					v-model.trim="newGroup.title"
					class="w-full"
					label="Group Title"
				/>

				<button class="btn btn-primary mt-2 w-full">Create</button>
			</form>
		</Modal>
		<Modal v-model="showNewArticleModal">
			<form @submit.prevent="addArticle">
				<form-field
					v-model.trim="newActicle.title"
					class="w-full"
					label="Article Title"
				/>

				<form-field
					v-model.trim="newActicle.group"
					select
					class="w-full mt-2"
					label="Group Title"
				>
					<option v-for="[title] in groups.value" :key="title">
						{{ title }}
					</option>
				</form-field>

				<button class="btn btn-primary mt-2 w-full">Create</button>
			</form>
		</Modal>

		<div>
			<Draggable
				v-model="groups.value"
				v-bind="dragOptions"
				group="groups"
				handle=".groupHandle"
				@start="drag = true"
				@end="drag = false"
			>
				<div v-for="[title, articles] in groups.value" :key="title">
					<div
						class="h-12 px-4 bg-white box-border font-bold flex items-center group relative"
					>
						<div
							class="groupHandle cursor-move absolute select-none text-lg left-2.5 top-1/2 transform-gpu -translate-y-1/2 font-icon opacity-0 transition-opacity group-hover:opacity-100"
						>
							drag_indicator
						</div>
						<span
							class="transform-gpu transition-transform group-hover:translate-x-3"
						>
							{{ title }}
						</span>
					</div>

					<Draggable
						v-model="articles.value"
						:class="{'h-12 relative': drag && !articles.value.length}"
						v-bind="dragOptions"
						group="articles"
						handle=".articleHandle"
						@start="drag = true"
						@end="drag = false"
					>
						<transition-group :name="drag ? null : 'flip-list'">
							<nuxt-link
								v-for="article in articles.value"
								:key="article.title"
								:to="'id' in article ? article.id : article.title"
								class="pr-4 pl-9 h-12 bg-white box-border flex items-center relative group hover:bg-primary-500 hover:bg-opacity-5 hover:text-primary-500"
							>
								<div
									class="articleHandle cursor-move absolute text-lg left-2.5 top-1/2 transform-gpu -translate-y-1/2 select-none font-icon opacity-0 group-hover:opacity-100"
								>
									drag_indicator
								</div>
								<span>{{ article.title }}</span>
							</nuxt-link>

							<div
								v-if="drag && !articles.value.length"
								key="void"
								class="h-12 border-2 left-0 bottom-0 absolute w-full border-grey border-dashed"
							></div>
						</transition-group>
					</Draggable>
				</div>
			</Draggable>
		</div>
		<div class="grid grid-cols-2 gap-x-3 px-4 py-3 sticky bottom-0">
			<button
				class="btn btn-primary-outline"
				:disabled="!groups.value.length"
				@click="showNewArticleModal = true"
			>
				+ Article
			</button>
			<button class="btn btn-primary-outline" @click="showNewGroupModal = true">
				+ Group
			</button>
		</div>
	</div>
</template>

<script lang="ts">
import {isEqual} from 'lodash-es';

import Draggable from 'vuedraggable';

import {debounce} from '~/services/debounce';
import {Article, Course, DraftArticle} from '~/types/course';

export default defineComponent({
	components: {
		Draggable,
	},
	props: {
		articles: {
			type: Array as PropType<(Article | DraftArticle)[]>,
			default: () => [],
		},
		course: {
			type: Object as PropType<Course>,
			required: true,
		},
	},
	setup({course, articles}) {
		const {$store} = useNuxtApp();

		const drag = ref(false);
		const dragOptions = {
			animation: 200,
			disabled: false,
			ghostClass: 'ghost',
		};

		const groups = reactive({
			value: Array.from(
				articles.reduce(
					(result, item) =>
						result.has(item.category)
							? (result.get(item.category)!.value.push(item), result)
							: result.set(item.category, {value: [item]}),
					new Map<
						string,
						{
							value: (Article | DraftArticle)[];
						}
					>(),
				),
			),
		});

		const newGroup = reactive({
			title: '',
		});
		const newActicle = reactive({
			title: '',
			group: '',
		});

		const showNewGroupModal = ref(false);
		const showNewArticleModal = ref(false);

		const _save = async () => {
			const articles = groups.value
				.flatMap(([title, {value}]) =>
					value.map(
						(article) =>
							({
								...article,
								category: title,
							} as Article | DraftArticle),
					),
				)
				.map((article, index) => ({
					...article,
					order_key: index,
				}));

			await $store.dispatch('course/modifyArticles', {
				courseId: course.id,
				articles,
			});
		};
		const save = debounce(_save, 2600);

		watch(groups, (current, previous) => !isEqual(current, previous) && save());

		const addGroup = () => {
			groups.value.push([newGroup.title, {value: []}]);
			newGroup.title = '';
			showNewGroupModal.value = false;
		};

		const addArticle = () => {
			const [, group] = groups.value.find(
				([title]) => title === newActicle.group,
			)!;
			group.value.push({
				course_id: course.id,
				title: newActicle.title,
				category: newActicle.group,
				content: '',
				order_key: 0,
			});
			newActicle.title = '';
			newActicle.group = '';
			showNewArticleModal.value = false;
		};

		return {
			drag,
			dragOptions,
			groups,
			showNewGroupModal,
			showNewArticleModal,
			newGroup,
			newActicle,
			addArticle,
			addGroup,
		};
	},
});
</script>

<style lang="scss" scoped>
.flip-list-move {
	transition: transform 0.4s;
}

.no-move {
	transition: transform 0s;
}

.ghost {
	@apply text-primary-500 border-2 border-primary-500 border-dashed;
}
</style>
