<template>
	<div>
		<div
			v-if="editor"
			class="
				flex
				h-10
				items-center
				border-t border-b
				py-1
				border-grey
				relative
				group
			"
		>
			<div
				class="
					absolute
					bg-textBlack
					w-7
					h-7
					top-1
					rounded-sm
					transform-gpu
					transition
					opacity-0
					group-hover:opacity-10
				"
				:style="hoverStyles"
			></div>

			<template v-for="(group, groupIndex) in buttonGroups">
				<button
					v-for="(button, index) of group"
					:key="button.icon || button.text + index"
					:class="[
						button.icon ? 'icon-button' : 'text-button',
						{active: button.class()},
					]"
					@click="button.action"
					@mouseenter="onMouseOver($event.target)"
				>
					{{ button.icon || button.text }}
					<sub v-if="button.sub">{{ button.sub }}</sub>
				</button>

				<div :key="groupIndex" class="icon-divider"></div>
			</template>
		</div>
		<editor-content :editor="editor" class="border-l border-r border-dashed border-grey" />
	</div>
</template>

<script lang="ts">
import {Editor, EditorContent, VueNodeViewRenderer} from '@tiptap/vue-2';
import {CodeBlockLowlight} from '@tiptap/extension-code-block-lowlight';
import {Highlight} from '@tiptap/extension-highlight';
import {Image} from '@tiptap/extension-image';
import StarterKit from '@tiptap/starter-kit';
import {lowlight} from 'lowlight';

import CodeBlock from '~/components/CodeBlock.vue';

const useHover = () => {
	const hoverStyles = reactive({
		transform: '',
	});

	const onMouseOver = (element: HTMLElement) => {
		hoverStyles.transform = `translateX(${element.offsetLeft}px)`;
	};

	return {hoverStyles, onMouseOver};
};

export default defineComponent({
	components: {
		EditorContent,
	},
	props: {
		value: {
			type: String,
			default: () => '',
		},
	},
	setup(props, {emit}) {
		const editor = ref<Editor>();
		const valueRef = toRef(props, 'value');

		watch(valueRef, (value) => {
			if (editor.value) {
				const isSame = editor.value.getHTML() === value;

				if (!isSame) {
					editor.value.commands.setContent(value);
				}
			}
		});

		onMounted(() => {
			editor.value = new Editor({
				content: valueRef.value,
				extensions: [
					StarterKit,
					CodeBlockLowlight.extend({
						addNodeView() {
							return VueNodeViewRenderer(CodeBlock);
						},
					}).configure({lowlight}),
					Highlight,
					Image,
				],
				editorProps: {
					attributes: {
						class: 'prose prose-sm sm:prose m-5 focus:outline-none',
					},
				},
				onUpdate() {
					emit('input', editor.value!.getHTML());
				},
			});
		});
		onBeforeUnmount(() => editor.value?.destroy());

		const addImage = () => {
			const url = window.prompt('URL');

			if (url) {
				editor.value?.chain().focus().setImage({src: url}).run();
			}
		};

		const {hoverStyles, onMouseOver} = useHover();

		const buttonGroups = [
			[
				{
					class: () => editor.value!.isActive('bold'),
					action: () => editor.value!.chain().focus().toggleBold().run(),
					icon: 'format_bold',
				},
				{
					class: () => editor.value!.isActive('italic'),
					action: () => editor.value!.chain().focus().toggleItalic().run(),
					icon: 'format_italic',
				},
				{
					class: () => editor.value!.isActive('strike'),
					action: () => editor.value!.chain().focus().toggleStrike().run(),
					icon: 'format_strikethrough',
				},
				{
					class: () => editor.value!.isActive('highlight'),
					action: () => editor.value!.chain().focus().toggleHighlight().run(),
					icon: 'highlight',
				},
				{
					class: () => editor.value!.isActive('code'),
					action: () => editor.value!.chain().focus().toggleCode().run(),
					icon: 'code',
				},
			],
			[
				{
					class: () => editor.value!.isActive('heading', {level: 1}),
					action: () =>
						editor.value!.chain().focus().toggleHeading({level: 1}).run(),
					text: 'H',
					sub: '1',
				},
				{
					class: () => editor.value!.isActive('heading', {level: 2}),
					action: () =>
						editor.value!.chain().focus().toggleHeading({level: 2}).run(),
					text: 'H',
					sub: '2',
				},
				{
					class: () => editor.value!.isActive('heading', {level: 3}),
					action: () =>
						editor.value!.chain().focus().toggleHeading({level: 3}).run(),
					text: 'H',
					sub: '3',
				},
				{
					class: () => editor.value!.isActive('heading', {level: 4}),
					action: () =>
						editor.value!.chain().focus().toggleHeading({level: 4}).run(),
					text: 'H',
					sub: '4',
				},
			],
			[
				{
					class: () => editor.value!.isActive('codeBlock'),
					action: () => editor.value!.chain().focus().toggleCodeBlock().run(),
					icon: 'integration_instructions',
				},
				{
					class: () => editor.value!.isActive('blockquote'),
					action: () => editor.value!.chain().focus().toggleBlockquote().run(),
					icon: 'format_quote',
				},
				{
					class: () => editor.value!.isActive('bulletList'),
					action: () => editor.value!.chain().focus().toggleBulletList().run(),
					icon: 'format_list_bulleted',
				},
				{
					class: () => editor.value!.isActive('orderedList'),
					action: () => editor.value!.chain().focus().toggleOrderedList().run(),
					icon: 'format_list_numbered',
				},
			],
			[
				{
					class: () => false,
					action: addImage,
					icon: 'image',
				},
			],
		];

		return {
			editor,
			hoverStyles,
			buttonGroups,
			addImage,
			onMouseOver,
		};
	},
});
</script>


<style lang="scss" scoped>
.base-button {
	@apply w-7 h-7 rounded-sm mx-0.5 z-10;

	&.active {
		@apply bg-textBlack text-white;
	}
}

.text-button {
	@apply base-button text-lg;

	letter-spacing: -0.1em;
}

.icon-button {
	@apply base-button text-xl font-icon;
}

.icon-divider {
	@apply border-l border-grey h-full mx-2;
}
</style>
