<template>
	<node-view-wrapper class="code-block">
		<select v-model="selectedLanguage" contenteditable="false">
			<option :value="null">auto</option>
			<option disabled>—</option>
			<option
				v-for="(language, index) in languages"
				:key="index"
				:value="language"
			>
				{{ language }}
			</option>
		</select>
		<pre><node-view-content as="code" /></pre>
	</node-view-wrapper>
</template>

<script lang="ts">
import {NodeViewWrapper, NodeViewContent, nodeViewProps} from '@tiptap/vue-2';

export default defineComponent({
	components: {
		NodeViewWrapper,
		NodeViewContent,
	},
	props: nodeViewProps as any,
	setup(props) {
		const languages = props.extension.options.lowlight.listLanguages();

		const selectedLanguage = computed({
			get() {
				return props.node.attrs.language;
			},
			set(language) {
				props.updateAttributes({language});
			},
		});

		return {languages, selectedLanguage};
	},
});
</script>

<style lang="scss" scoped>
.code-block {
	position: relative;

	select {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
	}
}
</style>
