<template>
	<div
		:class="[
			'border border-grey rounded-sm px-4 pt-5 pb-1 inline-block relative',
			{'bg-lightGrey': disabled},
		]"
	>
		<label
			:for="rid"
			:class="[
				'absolute pointer-events-none transform-gpu mt-1 -translate-y-1/2 transition-transform origin-top-left left-4',
				{'scale-75 focused-label text-textSecondary': shouldLabelFLoat},
			]"
			>{{ label }}</label
		>

		<textarea
			v-if="multiline"
			:id="rid"
			v-model="actualValue"
			rows="2"
			:class="[
				'outline-none w-full',
				{'text-textSecondary bg-lightGrey': disabled},
			]"
			:disabled="disabled"
			@focus="onFocus()"
			@blur="onBlur()"
		>
		</textarea>
		<select
			v-else-if="select"
			v-model="actualValue"
			:class="[
				'outline-none w-full',
				{'text-textSecondary bg-lightGrey': disabled},
			]"
			:disabled="disabled"
			@focus="onFocus()"
			@blur="onBlur()"
		>
			<slot></slot>
		</select>
		<input
			v-else
			:id="rid"
			v-model="actualValue"
			:class="[
				'outline-none w-full',
				{'text-textSecondary bg-lightGrey': disabled},
			]"
			:disabled="disabled"
			@focus="onFocus()"
			@blur="onBlur()"
		/>
	</div>
</template>

<script lang="ts">

export default defineComponent({
	props: {
		label: {
			type: String,
			default: '',
		},
		value: {
			type: String,
			default: '',
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		multiline: {
			type: Boolean,
			default: false,
		},
		select: {
			type: Boolean,
			default: false,
		},
	},
	setup(props, {emit}) {
		const isFocused = ref(false);
		const actualValue = computed({
			get() {
				return props.value;
			},
			set(value: string) {
				emit('input', value);
			},
		});
		const rid = `input-field-${Math.random().toString(16)}`;

		const shouldLabelFLoat = computed(() =>
			props.select ? actualValue.value : isFocused.value || actualValue.value,
		);

		const onFocus = () => (isFocused.value = true);
		const onBlur = () => (isFocused.value = false);

		return {
			isFocused,
			actualValue,
			rid,
			shouldLabelFLoat,
			onFocus,
			onBlur,
		};
	},
});
</script>

<style lang="scss" scoped>
.focused-label {
	--tw-translate-y: -80%;
}
</style>
