<template>
	<div class="relative">
		<div class="fill"></div>
		<div class="outline"></div>
	</div>
</template>

<style lang="scss" scoped>
.icon {
	@apply absolute top-0 left-0 w-full h-full;
}

.fill {
	@apply icon  bg-gradient-to-r from-primary-100 via-primary-500 to-primary-100 z-10;

	animation: background-shift 1s ease-in-out infinite;
	background-size: 300%;
	mask-image: url(~/assets/images/loader-filled.svg);
	mask-size: contain;
}

.outline {
	@apply icon bg-primary-300 z-20;

	mask-image: url(~/assets/images/loader-outline.svg);
	mask-size: contain;
}

@keyframes background-shift {
	from {
		background-position-x: -30%;
	}
	to {
		background-position-x: 120%;
	}
}
</style>
