<template>
	<transition>
		<div
			v-if="value"
			class="
				fixed
				left-0
				top-0
				h-screen
				w-screen
				bg-textBlack bg-opacity-20
				z-50
			"
			@click.self="$emit('input', false)"
		>
			<div
				class="
					absolute
					left-1/2
					top-1/2
					transform-gpu
					-translate-x-1/2 -translate-y-1/2
					bg-white
					rounded
					shadow-2xl
					p-4
				"
			>
				<slot></slot>
			</div>
		</div>
	</transition>
</template>

<script lang="ts">

export default defineComponent({
	props: {
		value: {
			type: Boolean,
			default: false,
		},
	},
	setup() {},
});
</script>
