<template>
	<nav class="w-full h-screen bg-primary-500 py-10">
		<div
			class="grid grid-cols-1 justify-items-center content-start relative group"
		>
			<div
				class="
					absolute
					bg-white
					h-14
					w-13.5
					top-0
					rounded-sm
					transform-gpu
					transition
					opacity-0
					group-hover:opacity-20
				"
				:style="hoverStyles"
			></div>

			<nuxt-link
				v-for="route in routes"
				:key="route.link"
				:to="route.link"
				:class="[
					'text-center h-14 w-13.5 rounded-sm mb-3 transition-colors z-10',
					route === activeRoute ? 'bg-white text-primary-500' : 'text-white',
				]"
				@mouseenter.native="onMouseOver($event.target)"
			>
				<div class="font-icon text-2xl mt-0.5">{{ route.icon }}</div>
				<div class="text-xs">{{ route.label }}</div>
			</nuxt-link>
		</div>
	</nav>
</template>

<script lang="ts">
export interface RouteItem {
	icon: string;
	label: string;
	link: string;
	matcher?: RegExp;
}

const useHover = () => {
	const hoverStyles = reactive({
		transform: '',
	});

	const onMouseOver = (element: HTMLElement) => {
		hoverStyles.transform = `translateY(${element.offsetTop}px)`;
	};

	return {hoverStyles, onMouseOver};
};

export default defineComponent({
	props: {
		routes: {
			type: Array as PropType<RouteItem[]>,
			default: () => [],
		},
	},
	setup(props) {
		const route = useRoute();
		const activePath = computed(() => route.path);

		const activeRoute = computed(() =>
			props.routes.find((route) =>
				route.matcher
					? route.matcher.test(activePath.value)
					: route.link === activePath.value,
			),
		);

		const {hoverStyles, onMouseOver} = useHover();

		return {
			activePath,
			activeRoute,
			hoverStyles,
			onMouseOver,
		};
	},
});
</script>
