<template>
	<div v-if="selectedArticle">
		<h1 class="text-4xl mb-4">{{ selectedArticle.title }}</h1>
		<course-editor v-model="value"></course-editor>
	</div>
</template>

<script lang="ts">
import {debounce} from '~/services/debounce';

export default defineComponent({
	setup() {
		const {$store} = useNuxtApp();
		const route = useRoute();

		const courseId = computed(() => route.params.course);
		const articleId = computed(() => route.params.article);

		const value = ref('');

		const course = computed(() =>
			$store.state.course.courses.find((item) => item.id === courseId.value),
		);

		const selectedArticle = computed(() =>
			course.value?.articles.find(({id}) => id === articleId.value),
		);

		watch(selectedArticle, (article) => {
			value.value = article?.content || '';
		});

		const _save = async () => {
			await $store.dispatch('course/modifyArticleContent', {
				articleId: selectedArticle.value!.id,
				content: value.value,
			});
		};
		const save = debounce(_save, 2600);

		watch(value, (value) => selectedArticle.value?.content !== value && save());

		return {
			selectedArticle,
			value,
		};
	},
});
</script>
