@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply py-2 px-4 outline-none rounded-sm font-bold;
}

.btn-primary {
	@apply bg-primary-500 text-white hover:bg-primary-600 active:bg-primary-900;

	&:disabled {
		@apply bg-primary-300 cursor-default;
	}
}

.btn-primary-outline {
	@apply border border-primary-500 text-primary-500 bg-primary-100 bg-opacity-0 hover:bg-opacity-20 active:bg-primary-200;

	&:disabled {
		@apply bg-grey text-textSecondary border-textSecondary cursor-default;
	}
}

.btn-secondary {
	@apply bg-secondary-900 text-white hover:bg-secondary-800 active:bg-secondary-700;

	&:disabled {
		@apply bg-secondary-700;
	}
}

.header {
	@apply h-24 border-b border-grey w-full flex items-center px-10;
}
