<template>
	<main class="font-serif text-textBlack grid root">
		<Sidenav :routes="routes" />
		<Nuxt />
	</main>
</template>

<script lang="ts">
import {supabase} from '~/services/supabase';

export default defineComponent({
	setup() {
		const {$store} = useNuxtApp();
		const router = useRouter();

		onMounted(async () => {
			await $store.dispatch('user/getUser');
		});

		const routes = computed(() =>
			$store.state.user.email
				? [
						{
							icon: 'person',
							label: 'Profile',
							link: '/profile',
						},
						{
							icon: 'school',
							label: 'Courses',
							link: '/courses',
							matcher: /^\/courses.*/,
						},
						{
							icon: 'create',
							label: 'Create',
							link: '/create',
						},
				  ]
				: [
						{
							icon: 'login',
							label: 'Log In',
							link: '/login',
						},
				  ],
		);

		const {data: authSubscription} = supabase.auth.onAuthStateChange(
			(event) => {
				switch (event) {
					case 'SIGNED_IN':
						router.push({
							path: '/courses',
						});
						break;
					case 'SIGNED_OUT':
						router.push({
							path: '/login',
						});
						break;
				}
			},
		);

		onUnmounted(() => {
			authSubscription?.unsubscribe();
		});

		return {
			routes,
		};
	},
});
</script>

<style lang="scss" scoped>
.root {
	grid-template-columns: 70px 1fr;
}
</style>
