<template>
	<form class="container mx-auto py-10" @submit.prevent="create">
		<form-field
			v-model.trim="title"
			:disabled="loading"
			class="w-full"
			label="Course Title"
		/>
		<form-field
			v-model.trim="description"
			:disabled="loading"
			class="w-full mt-3"
			multiline
			label="Course Description"
		/>

		<div class="text-secondary-500 my-4">{{ errorMessage }}</div>

		<button class="btn btn-primary block w-full mt-5" type="submit">
			Create
		</button>
	</form>
</template>

<script lang="ts">
export default defineComponent({
	setup() {
		const title = ref('');
		const description = ref('');

		const errorMessage = ref('');
		const loading = ref(false);

		const {$store} = useNuxtApp();
		const router = useRouter();

		const create = async () => {
			loading.value = true;
			try {
				const createdId = await $store.dispatch('course/createCourse', {
					title: title.value,
					description: description.value,
				});

				router.push({
					path: `/courses/${createdId}`,
				});
			} catch (error) {
				errorMessage.value = error.message;
			} finally {
				loading.value = false;
			}
		};

		return {
			title,
			description,
			errorMessage,
			loading,
			create,
		};
	},
});
</script>
