<template>
	<div class="grid place-items-center h-screen w-full">
		<div v-if="success" class="text-primary-500">
			Check your email for the login link
		</div>
		<div v-else-if="errorMessage" class="text-secondary-900">
			Smthing went wrong: {{ errorMessage }}
		</div>
		<form v-else @submit.prevent="login">
			<form-field
				v-model="email"
				class="block w-80"
				label="Email"
				:disabled="loading"
			/>
			<button
				type="submit"
				class="btn btn-primary block mt-6 mx-auto"
				:disabled="loading"
			>
				Send Magic Link
			</button>

			<div class="flex flex-col mt-10">
				<button
					v-for="provider in loginProviders"
					:key="provider.type"
					type="button"
					class="outline-none rounded-sm font-bold flex items-center text-white px-1.5 py-1.5 mb-5"
					:style="{backgroundColor: provider.colour}"
					@click="loginWithProvider(provider.type)"
				>
					<div class="w-10 h-10 bg-white rounded-sm">
						<img :src="provider.logo" class="w-10 h-10 p-1.5" />
					</div>
					<div class="text-center flex-1">Sign in with {{ provider.name }}</div>
				</button>
			</div>
		</form>
	</div>
</template>

<script lang="ts">
import type {Provider} from '@supabase/gotrue-js';

export default defineComponent({
	setup() {
		const loading = ref(false);
		const errorMessage = ref<string>();
		const success = ref(false);
		const email = ref('');

		const {$store} = useNuxtApp();

		const loginProviders = [
			{
				type: 'gitlab',
				name: 'GitLab',
				logo: require('~/assets/images/auth/gitlab.svg'),
				colour: '#fc6d26',
			},
			{
				type: 'github',
				name: 'GitHub',
				logo: require('~/assets/images/auth/github.svg'),
				colour: '#231f20',
			},
		];

		const login = async () => {
			loading.value = true;
			try {
				await $store.dispatch('user/login', {email: email.value});

				success.value = true;
			} catch (error) {
				errorMessage.value = error.message;
			} finally {
				loading.value = false;
			}
		};

		const loginWithProvider = async (provider: Provider) => {
			loading.value = true;

			try {
				await $store.dispatch('user/login', {provider});
			} catch (error) {
				errorMessage.value = error.message;
				loading.value = false;
			}
		};

		return {
			loading,
			errorMessage,
			success,
			email,
			loginProviders,
			login,
			loginWithProvider,
		};
	},
});
</script>
