<template>
	<div>
		<header class="header">
			<div class="container mx-auto">Greetings, {{ email }}</div>
		</header>
		<form class="container mx-auto py-10" @submit.prevent="update">
			<form-field v-model="name" class="block w-full" label="Name" />
			<form-field
				v-model="username"
				class="block w-full mt-5"
				label="Username"
			/>

			<button
				class="btn btn-primary-outline block w-full mt-10"
				type="button"
				@click="logout"
			>
				Log Out
			</button>

			<button class="btn btn-primary block w-full mt-5" type="submit">
				Update
			</button>
		</form>
	</div>
</template>

<script lang="ts">
export default defineComponent({
	setup() {
		const {$store} = useNuxtApp();

		const email = computed(() => $store.state.user.email);
		const name = ref($store.state.user.name);
		const username = ref($store.state.user.username);

		const loading = ref(false);

		const update = async () => {
			loading.value = true;

			try {
				await $store.dispatch('user/updateUser', {
					name: name.value,
					username: username.value,
				});
			} catch (error) {
				alert(error.message);
			} finally {
				loading.value = false;
			}
		};

		const logout = async () => {
			await $store.dispatch('user/logout');
		};

		return {
			email,
			name,
			username,
			ref,
			update,
			logout,
		};
	},
});
</script>
