<template>
	<div v-if="course" class="grid layout max-h-screen relative">
		<div class="border-r border-grey overflow-y-auto">
			<div class="border-b border-grey pb-6">
				<div
					class="mt-5 mx-4 bg-grey text-center h-40 grid place-items-center rounded-sm"
				>
					<span class="font-icon text-6xl text-textSecondary">file_upload</span>
				</div>

				<div class="mx-6 mt-5">
					<form-field
						v-model.trim="title"
						class="w-full"
						label="Course Title"
					/>
					<form-field
						v-model.trim="description"
						class="w-full mt-3"
						multiline
						label="Course Description"
					/>
				</div>
			</div>

			<div class="mt-3">
				<course-articles
					class="mt-3"
					:articles="articles"
					:course="course"
				></course-articles>
			</div>
		</div>

		<nuxt-child class="pt-5 px-14 box-border overflow-y-auto"></nuxt-child>

		<transition name="slide-up">
			<div
				v-if="isSaving"
				class="absolute bottom-10 right-10 px-3 py-1 bg-white shadow-md rounded-full flex"
			>
				<loader class="w-6 h-6 mr-2" />
				<span class="text-primary-500">Saving...</span>
			</div>
		</transition>
	</div>
</template>

<script lang="ts">
import {debounce} from '~/services/debounce';

export default defineComponent({
	setup() {
		const {$store} = useNuxtApp();
		const router = useRouter();
		const route = useRoute();

		const courseId = computed(() => route.params.course);
		const articleId = computed(() => route.params.article);
		const isSaving = computed(() => $store.state.course.isSaving);

		const course = computed(() =>
			$store.state.course.courses.find((item) => item.id === courseId.value),
		);
		const articles = computed(() => course.value?.articles || []);

		watch(
			course,
			(course) => {
				if (!articleId.value && course?.articles[0]?.id) {
					router.replace({
						path: course.articles[0].id,
						append: true,
					});
				}
			},
			{
				immediate: true,
			},
		);

		const title = ref('');
		const description = ref('');

		const _save = async () => {
			await $store.dispatch('course/modifyInfo', {
				courseId: course.value!.id,
				title: title.value,
				description: description.value,
				cover_image: null,
			});
		};
		const save = debounce(_save, 2600);

		onMounted(async () => {
			if (!course.value) {
				await $store.dispatch('course/loadCourses', courseId.value);
			}

			if (course.value) {
				title.value = course.value.title;
				description.value = course.value.description;
			}

			watch([title, description], () => save());
		});

		return {
			course,
			articles,
			title,
			description,
			isSaving,
		};
	},
});
</script>

<style lang="scss" scoped>
.layout {
	grid-template-columns: 300px 1fr;
}

.slide-up-enter-active {
	@apply transition duration-200;
}

.slide-up-leave-active {
	@apply transition duration-200;
}

.slide-up-enter,
.slide-up-leave-to {
	transform: translateY(10px) scale(0.8);
	opacity: 0;
}
</style>
