<template>
	<div>
		<header class="header">
			<div class="container mx-auto">
				<form-field label="Search" class="w-full" />
			</div>
		</header>
		<div class="container mx-auto py-10 grid grid-cols-3">
			<nuxt-link
				v-for="course in courses"
				:key="course.id"
				:to="`/courses/${course.id}`"
				class="border border-grey rounded-sm cursor-pointer"
			>
				<div class="h-60 bg-grey"></div>
				<div class="pt-5 px-6 pb-6">
					<div class="font-bold">{{ course.title }}</div>
					<div class="mt-3">{{ course.description }}</div>
				</div>
			</nuxt-link>
		</div>
	</div>
</template>

<script lang="ts">
export default defineComponent({
	setup() {
		const {$store} = useNuxtApp();
		
		const courses = computed(() => $store.state.course.courses);

		onMounted(async () => {
			await $store.dispatch('course/loadCourses');
		});

		return {
			courses,
		};
	},
});
</script>

